/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  font-family: 'Roboto', sans-serif;
}

.filter {
  width: 25%;
  height: 100%;
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.filter-main_photo {
  width: 50%;
  height: 50%;
  display: block;
  margin: 0 auto;
}

.filter-title {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 700;
}

.filter-desc {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 150px;
  text-transform: uppercase;
}

.filter__link_social {
  margin-right: 20px;
}

.filter__link_social:last-child {
  margin-right: 0px;
}

.filter__link_social-icon {
  margin-top: 150px;
  width: 35px;
  height: 35px;
}

.filter__link_social-icon:hover {
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.filter__link {
  text-transform: uppercase;
  padding: 3px 21px;
  margin-top: 10px;
  color: #000;
  font-size: 24px;
  font-weight: 300;
  display: inline-block;
  text-decoration: none;
}

.filter__link:hover {
  -webkit-transition: .03s;
  transition: .03s;
  color: #fff;
  background: black;
}

.filter__item--active .filter__link {
  -webkit-transition: .03s;
  transition: .03s;
  color: #fff;
  background: black;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.products__list {
  position: static;
  width: 70%;
  height: 100%;
}

.about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 300px;
}

.about-content {
  text-align: center;
  width: 60%;
  font-size: 22px;
  font-weight: 300;
  line-height: 35px;
}

.about-content-bold {
  font-weight: 500;
}

.works {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 100px;
}

.skills {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills-title {
  text-align: center;
  margin-top: 150px;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.skills-hard {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.skills-soft {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.skills-items {
  text-transform: uppercase;
  text-align: center;
}

.skills-items-desc {
  font-size: 14px;
  font-weight: 500;
}

.skills-item-icon {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.skills-soft .skills-item-icon {
  width: 65px;
  height: 65px;
  margin-bottom: 40px;
}

.works-content {
  margin-bottom: 20px;
  display: inline-block;
  width: 48%;
  text-align: center;
}

.works-content-title {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 400;
}

.works-content-img {
  width: 100%;
  max-height: 325px;
}

.experience {
  display: inline-block;
  width: 50%;
  margin: 0 25%;
}

.experience-item {
  border-top: 2px dashed;
  border-color: #000 !important;
  margin-left: auto;
  padding: 74px;
  position: relative;
  counter-reset: demo 2020;
}

.experience-item-title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.experience-item-position {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.experience-item-desc {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 20px;
}

.experience-item:nth-child(even):before {
  content: counter(demo, decimal-leading-zero);
  right: 100%;
  margin-right: -20px;
  position: absolute;
  padding: 10px;
  margin-top: 35px;
  height: 20px;
  width: 40px;
  background-color: #000;
  text-align: center;
  color: white;
  font-size: 110%;
}

.experience-item:nth-child(odd):before {
  content: counter(section);
  content: counter(demo, decimal-leading-zero);
  left: 100%;
  margin-left: -20px;
  position: absolute;
  padding: 10px;
  margin-top: 25px;
  height: 20px;
  width: 40px;
  background-color: #000;
  text-align: center;
  color: white;
  font-size: 110%;
}

.experience-item:nth-child(even) {
  border-left: 2px dashed;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-right: 30px;
  padding-right: 0;
}

.experience-item:nth-child(odd) {
  border-right: 2px dashed;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 30px;
  padding-left: 0;
}

.experience-item:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.experience-item:nth-child(3) {
  counter-increment: demo -1;
}

.experience-item:last-child {
  counter-increment: demo -2;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

@media screen and (max-width: 768px) {
  .skills {
    width: 120%;
  }
}
/*# sourceMappingURL=style.css.map */